/*all page styling*/

*:focus {
    outline: none;
}

.padding-0 {
    padding: 0;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.img-responsive {
    margin: 0 auto;
}

.bluetext {
    color: #60cbfc;
}

.purpletext {
    color: #a24ef4;
}

.whitetext {
    color: white;
}

.purple-to-blue {
    color: #a24ef4;
    transition: all 0.6s ease;
}

.purple-to-blue:hover {
    color: #60cbfc;
    transition: opacity 0.6s ease-out;
}


/*end of all page styling*/

#topnav {
    background-color: #363441;
    padding-top: 2em;
    padding-bottom: 2em;
}

#footer {
    background-color: #363441;
    padding-bottom: 4em;
}

.footer-info {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    font-size: 1.5em;
}

#subnav {
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: #46349b;
}

#subnav h5 {
    letter-spacing: .7px;
    text-transform: uppercase;
}

#logo {
    color: white;
    margin-top: 0.4em;
}

#logo span {
    color: #a24ef4;
}

#wrapper {
    display: inline-block;
    position: relative;
}

#pccase-parallax {
    width: 100%;
    max-width: 100%;
}

#motherboard-parallax {
    position: absolute;
    right: 135%;
    top: 10%;
    max-width: 40%;
}

#graphicscard-parallax {
    position: absolute;
    left: 120%;
    top: 40%;
    max-width: 30%;
}

#cpucooler-parallax {
    position: absolute;
    left: 120%;
    top: 16%;
    max-width: 28%;
}

#index-products {
    border: 4px solid;
    border-radius: 8px;
    border-color: #a24ef4;
    margin-bottom: 1em;
    margin-top: 0.5em;
}

#index-products:hover {
    border: 4px solid;
    border-radius: 8px;
    border-color: #60cbfc;
}

#navbarsearchform {
    margin-left: 0em;
    margin-right: 0;
}

#form-white-outline {
    color: #938db2;
    display: block;
    margin: 0;
    font-size: 18px;
    line-height: 24px;
    width: 100%;
    height: 54px;
    padding: 11px 50px 11px 20px;
    background: transparent;
    border: 2px solid #67637d;
    -webkit-border-radius: 27px;
    -moz-border-radius: 27px;
    border-radius: 27px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#form-white-outline:focus {
    color: #60cbfc;
}

.navbarlinks {
    margin-right: 1em;
}

#navcheckoutbutton {
    margin-top: 0.3em;
    border-radius: 27px;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 16px 22px 18px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#4f47bc, #a24ef4);
    display: inline-block;
    border: none;
    transition: all 0.4s ease;
}

#navcheckoutbutton:hover {
    background-image: linear-gradient(to top, #139fe8, #36f4a8);
    transition: opacity 0.4s ease-out;
}

#subscribe-section {
    background-color: #363441;
    padding: 2em;
}

#subscribe-form input[type="text"] {
    width: 80% !important;
    float: left;
}

#subscribe-form input:focus {
    color: #60cbfc;
}

#subscribe-form input[type="submit"] {
    width: 20% !important;
    float: right;
    border-radius: 27px;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 16px 22px 18px;
    height: 54px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#4f47bc, #a24ef4);
    border: none;
    transition: all 0.4s ease;
}

#subscribe-form input[type="submit"]:hover {
    background-image: linear-gradient(to top, #139fe8, #36f4a8);
    transition: opacity 0.4s ease-out;
}

#navbar-submit {
    border-radius: 27px;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 16px 22px 18px;
    height: 54px;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#4f47bc, #a24ef4);
    border: none;
    transition: all 0.4s ease;
    z-index: 10;
    position: absolute;
}

#navbar-submit:hover {
    background-image: linear-gradient(to top, #139fe8, #36f4a8);
    transition: opacity 0.4s ease-out;
}


/*Product Search Results page*/

#product-submit {
    border-radius: 27px;
    letter-spacing: .7px;
    text-transform: uppercase;
    padding: 16px 20px 20px;
    line-height: 5px;
    height: 26px;
    font-size: 10px;
    color: white;
    background-image: linear-gradient(#4f47bc, #a24ef4);
    border: none;
    transition: all 0.4s ease;
    z-index: 10;
}

#product-submit:hover {
    background-image: linear-gradient(to top, #139fe8, #36f4a8);
    transition: opacity 0.4s ease-out;
}

#product-search-bounds {
    overflow-y: scroll;
    height: 500px;
    background-color: #d3d3d3;
}

#product-filter-bounds {}

#product-filter-bounds input {
    margin-top: 1em;
}

#product-search-results {
    padding: 1em;
    border: 5px solid transparent;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    background-color: white;
}

#product-search-results:hover {
    border: 5px solid #a24ef4;
    transition: opacity 0.4s ease-out;
}

#product-search-results button {
    margin-top: 50%;
}

#productprice {
    margin-bottom: 0 !important;
    margin-top: 2em;
}

#addtocartbutton {
    border-radius: 27px;
    letter-spacing: .7px;
    margin-top: 1em !important;
    text-transform: uppercase;
    padding: 16px 22px 18px;
    font-weight: 500;
    font-size: 16px;
    color: white;
    background-image: linear-gradient(#4f47bc, #a24ef4);
    display: inline-block;
    border: none;
    transition: all 0.4s ease;
}

#addtocartbutton:hover {
    background-image: linear-gradient(to top, #139fe8, #36f4a8);
    transition: opacity 0.4s ease-out;
}


/*End Of Product Search Results page*/


/*Admin panel styling*/

#admin-panel-settings {
    background-color: #363441;
    height: 100%;
}

.admin-menu-item {
    margin-top: 1em;
    font-size: 1.2em;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    cursor: pointer;
}

.admin-menu-item:hover {
    color: #60cbfc;
    border-bottom: 1px solid #a24ef4;
    border-top: 1px solid #a24ef4;
}


/*end of admin panel styling*/
