@import helper._
@import html5.tags.html._
@(user: models.User,updateDetailsForm: Form[models.User],env: play.api.Environment,userOrders: List[models.PaymentDetails])
@main("Account",user){
<div class="container" id = "user-account">
    <div class="row">
        <!-- <div class="col-sm-12 col-md-12 user-details"> -->
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 padding-0">
            <div class="user-image">
                @if(env.resource("public/images/user_profiles/" + user.getEmail + ".jpg").isDefined){
                    <a href = "/assets/images/user_profiles/@(user.getEmail + ".jpg")" data-lightbox="image-1" data-title="@(user.getFirstName + user.getLastName)"><img class="img-responsive img-circle" src="/assets/images/user_profiles/@(user.getEmail + ".jpg")"></a>
                }else{
                    <img class="img-responsive" src="/assets/images/blank_profile.jpg">
                    }
            </div>
            <div class="user-info-block">
                <div class="user-heading">
                    <h3>@user.getFirstName() @user.getLastName()</h3>
                    <span class="help-block"></span>
                </div>
                <ul class="navigation">
                    <li id="user-info-list">
                        <p class="text-center"><span class="glyphicon glyphicon-user purple-to-blue" id="user-info-button"></span></p>
                    </li>
                    <li id="user-setting-list">
                        <p class="text-center"><span class="glyphicon glyphicon-cog purple-to-blue" id="user-settings-button"></span></p>
                    </li>
                    <li id="order-info-list">
                        <p class="text-center"><span class="glyphicon glyphicon-calendar purple-to-blue" id="order-info-button"></span></p>
                    </li>
                </ul>
            </div>
        </div>
        <div class=" col-md-12 col-lg-12 col-lg-12 col-xs-12 " id="account-information">
            <table class="table table-user-information">
                <tbody>
                    <tr>
                        <td>Name:</td>
                        <td>@user.getFirstName @user.getLastName</td>
                    </tr>
                    <tr>
                        <td>Join date:</td>
                        <td>@user.getJoinDate()</td>
                    </tr>
                    <tr>
                        <td>Age</td>
                        <td>@user.getAge()</td>
                    </tr>
                    <tr>
                        <td>Home Address</td>
                        <td>@user.getAddress()</td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>@user.getEmail</td>
                    </tr>
                    <td>Phone Number Landline/Mobile</td>
                    <td>@user.getPhone
                        <br>
                        <br>@user.getMobile()
                    </td>
                </tbody>
            </table>
            <!--Need some padding around the bottom of these-->
        </div>
        <div class=" col-md-12 col-lg-12 col-lg-12 col-xs-12 " id="account-settings">
            <div class="container">
            @helper.form(action = routes.HomeController.updateDetails() ,'enctype -> "multipart/form-data", 'method -> "POST"){
                <p><b>Email</b></p>
                @text(updateDetailsForm("email"), 'class -> "form-control", 'placeholder -> "Email")
                <p><b>First Name</b></p>
                @text(updateDetailsForm("firstName"), 'class -> "form-control", 'placeholder -> "First Name")
                <p><b>Last Name</b></p>
                @text(updateDetailsForm("lastName"), 'class -> "form-control", 'placeholder -> "Last Name")
                <p><b>Password</b></p>
                @password(updateDetailsForm("password"), 'class -> "form-control", 'placeholder -> "First Name")
                <p><b>Address</b></p>
                @text(updateDetailsForm("address"), 'class -> "form-control", 'placeholder -> "Address")
                <p><b>Age</b></p>
                @number(updateDetailsForm("age"),'type -> "number", 'class -> "form-control", 'min -> "1", 'step -> "1", 'max -> "9999", 'value -> "0")
                <p><b>Profile Image</b></p>
                @file(updateDetailsForm("profilePic"), 'class -> "form-control")
                <p><b>Phone</b></p>
                @text(updateDetailsForm("phone"), 'class -> "form-control", 'placeholder -> "Phone")
                <p><b>Mobile</b></p>
                @text(updateDetailsForm("mobile"), 'class -> "form-control", 'placeholder -> "Mobile")
                <input type="submit" class="form-control pull-right" id="add-product-submit" value="Submit" style="width: 30%; margin-bottom: 2em;">
                }
            </div>
        </div>
        <div class="container-fluid admin-sections" id="order-info">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="panel panel-default panel-table">
                        <div class="panel-heading" id="admin-users-panel-heading">
                            <div class="row">
                                <div class="col col-xs-12">
                                    <h3 class="panel-title whitetext">Orders <i class="fa fa-list" aria-hidden="true"></i></h3>
                                </div>
                            </div>
                        </div>
                        <div class="panel-body">
                            <table class="table table-striped table-bordered table-list">
                                <thead>
                                    <tr>
                                        <th>
                                            <p class="text-center purpletext">Order No: <i class="fa fa-list" aria-hidden="true"></i></p>
                                        </th>
                                        <th>
                                            <p class="text-center purpletext">Order Total</p>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if(!userOrders.isEmpty) {
                                        @for(o <- userOrders) {
                                            <tr>
                                                <td>@o.getPaymentId</td>
                                                <td>@o.getTotal</td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <!--end of col -->
            </div>
            <!--end of end of row -->
        </div>
    </div>
</div>

<script>
$(document).ready(function() {
    $("#user-info-list").last().addClass("active");
    $("#account-information").show();
    $("#account-settings").hide();
    $("#order-info").hide();


    $("#user-settings-button").click(function() {
        $("#user-setting-list").last().addClass("active");
        $("#user-info-list").last().removeClass("active");
        $("#order-info-list").last().removeClass("active");
        $("#account-information").hide();
        $("#order-information").hide();
        $("#order-info").hide();
        $("#account-settings").show();
    });

    $("#user-info-button").click(function() {
        $("#user-setting-list").last().removeClass("active");
        $("#order-info-list").last().removeClass("active");
        $("#user-info-list").last().addClass("active");
        $("#account-information").show();
        $("#order-information").hide();
        $("#account-settings").hide();
        $("#order-info").hide();
    });

    $("#order-info-button").click(function() {
        $("#user-setting-list").last().removeClass("active");
        $("#user-info-list").last().removeClass("active");
        $("#order-info-list").last().addClass("active");
        $("#account-information").hide();
        $("#account-settings").hide();
        $("#order-info").show();

    });
});
</script>

    <script>
            $(document).ready(function() {
                     $("label").remove();
                    });
            </script>
}
