@import helper._
@import html5.tags.html._
@(user: models.User)
@main("Cart",user){

    <div class="container" id="shop-cart">

            <table id="cart" class="table table-hover table-condensed">

                    <thead>
                        <tr>
                            <th style="width:50%">Product</th>
                            <th style="width:10%">Price</th>
                            <th style="width:8%">Quantity</th>
                            <th style="width:22%" class="text-center">Subtotal</th>
                            <th style="width:10%"></th>
                        </tr>
                    </thead>
                    <!-- End table heading-->

                    <tbody>

                        @if(user.getBasket() != null){
                            @for(i <- user.getBasket().getBasketItems()){
                        <tr> <!-- Row One -->
                            <td data-th="Product">
                                <div class="row">
                                    <a href = "@routes.HomeController.product(i.getProduct.getProductId)" style = "color: inherit !important;">
                                    <div class="col-sm-2 hidden-xs"><img src="http://placehold.it/100x100" alt="..." class="img-responsive"/>
                                    </div>

                                    <div class="col-sm-10">
                                        <h4 class="nomargin">@i.getProduct().getName()</h4>
                                        <p>@i.getProduct().getDescription()</p>
                                    </div>

                                </div>
                                <!-- End Row 1-->
                            </td>
                            <td data-th="Price">@i.getProduct().getPrice()</td>
                            <td data-th="Quantity">
                                <p class="nomargin text-center">@i.getQuantity</p>
                            </td>
                            <td data-th="Subtotal" class="text-center">@i.getItemTotal</td>

                            <td class="actions" data-th="">
                                @if(i.getProduct().getQuantity > i.getQuantity()) {
                                    <a href = "@routes.ShoppingController.addOne(i.getId)">
                                        <button class="btn btn-info btn-sm"><i class="fa fa-plus" aria-hidden="true"></i>
                                        </button>
                                    </a>
                                }

                            </td>

                        <td class="actions" data-th="">
                        @if(i.getProduct().getQuantity >= 0 ) {
                                <a href = "@routes.ShoppingController.removeOne(i.getId)">
                                <button class="btn btn-danger btn-sm"><i class="fa fa-minus" aria-hidden="true"></i></button>
                                </a>
                            </td>
                        </tr>
                                </a>
                            }
                        <!-- End Row One -->
                            }

                        }

                    </tbody>
                    <!--End table body-->

                    <tfoot>

                        <!--tr class="visible-xs">
                            <td class="text-center"><strong>Total 1.99</strong></td>
                        </tr>-->

                        <!--a href="#" class="btn btn-warning"><i class="fa fa-angle-left"></i>                 Continue Shopping</a></td> Button Below-->
                        <tr>
                            <td>
                                <a href = "@routes.HomeController.searchProduct("")">
                                <button type="button" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                                </button></a>
                            </td>

                            <td>
                                <a href = "@routes.ShoppingController.emptyBasket()">
                                    <button type="button" class="btn btn-danger">
                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                    Empty Basket
                                    </button></a>
                            </td>

                            <td colspan="2" class="hidden-xs">
                            </td>

                            <td class="hidden-xs text-center">
                            @if(user.getBasket() != null) {
                                <strong>Total @user.getBasket().getBasketTotal()</strong>
                            }
                            </td>

                            <td><a href="@routes.PaymentController.payment()" class="btn btn-success btn-block">
                                Checkout <i class="fa fa-angle-right"></i></a>
                            </td>

                        </tr>

                    </tfoot>
                    <!-- End Table footer -->

            </table>
            <!-- End Cart Table-->

        </div>
        <!-- End cart Container-->

    <!--/div>-->
    <!-- End Outer Container-fluid-->


}