@import helper._
@import html5.tags.html._
@(loginForm: Form[models.Login],user: models.User)
@main("Login",user){
<div class="container">
    <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-8 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-2" id ="container-login">

        <div class="headerform">
            <h2 class = "text-center purpletext">Log In</h2>
            <h2 class = "text-center joined-font purpletext">Peecy Wurld</h2>
        </div>


        @if(loginForm.hasGlobalErrors) {
            <p class="alert alert-warning">
            @loginForm.globalError.message
            </p>>
        }

        @if(flash.containsKey("error")) {
            <div class="alert alert-warning">
                @flash.get("loginRequired")
            </div>
        }
        <p>Login into your account or if you do not have an account click<a href="#"> here</a> to register</p>

    @helper.form(action = routes.LoginController.loginSubmit()){

            @inputText(loginForm("Email"), '_lable -> "",
            'class -> "form-control input-xs", 'placeholder -> "Email")
        @inputPassword(loginForm("Password"), '_lable -> "",
            'class -> "form-control input-xs", 'placeholder -> "Password")

        <a href="#">Forgot password?</a>
        <br><br>
        <input type="submit" id="loginbtn" value = "Submit">
        }
        </div>

        </div>
    </div>
}