@import helper._
@import html5.tags.html._
@(product: Product,user: models.User,env: play.api.Environment,relatedProducts: List[models.Product])
@main("Product",user){
<div class="container">
    <div class="row" id="product-bounds">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <a href="@routes.Assets.versioned("images/cpucooler.png")" data-lightbox="image-1" data-title="My caption">Image #1</a>
                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                        <a href="@routes.Assets.versioned("images/cpucooler.png")" data-lightbox="image-1" data-title="My caption"><img class="img-responsive" src="/assets/images/productImages/@(product.getProductId + ".jpg")"></a>

                    </div>
                    <!--end of col-->
                </div>
                <!--end of row-->
            </div>
            <!--end of container fluid-->
        </div>
        <!--end of col-->
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="product-description">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <h1 class="text-left">@product.getName</h1>
                        <h4 class="text-left"><span class = "purpletext">€</span>@product.getPrice</h4>
                        <h4 class="text-left"><span class = "purpletext">Quantity </span>@product.getQuantity</h4>
                        <h4 class="text-left"><span class = "purpletext">  <i class="fa fa-bus" aria-hidden="true"></i></span> Free Delievery available</h4>
                        <p class="text-left">@product.getDescription</p>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                        <a href="@routes.ShoppingController.addToBasket(product.getProductId)">
                        <button class="pull-right" id="product-add-to-cart">Add To Cart <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                        </a>
                    </div>
                    <!--end of col -->
                </div>
                <!--end of row -->
            </div>
            <!--end of end of container fluid -->
        </div>
        <!--end of product description -->
    </div>
    <!--end of product bounds -->
</div>
<!--end of end of container -->
<div class="container">
    <h4 class="text-center purpletext">Customers Also Purchased</h4>
    <div class="row">
        @for(r <- relatedProducts){
        <!--Play will render these elements for the related products  -->
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 pull-left" id="related-products">
            <h3 class="text-center text-muted">@r.getName</h3>
            <h4 class="text-center text-muted"><span class = "purpletext">€</span>@r.getPrice</h4>
            @if(env.resource("public/images/productImages/thumbnails/" + r.getProductId + ".jpg").isDefined){
                <img class="img-responsive" src="/assets/images/productImages/thumbnails/@(r.getProductId + ".jpg")">
            }else{
                <img class="img-responsive" src="/assets/images/productImages/noImage.jpg">
            }
            <a href = "@routes.ShoppingController.addToBasket(r.getProductId)">
            <p class="text-center">
                <button type="button" id="addtocartbutton">Add To Cart <i class="fa fa-1x fa-shopping-cart" aria-hidden="true"></i></button>
            </p>
            </a>
        </div>
        }
        <!--End of related products rendered-->
    </div>
    <!--End of row-->
</div>
<!--End of container-->

}
