@import helper._
@import html5.tags.html._
@(addUserForm: Form[models.User],user: models.User)
@main("Register",user) {

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 col-lg-offset-2 col-md-offset-2 col-sm-offset-2">
            @helper.form(action = routes.HomeController.registerSubmit() ,'enctype -> "multipart/form-data", 'method -> "POST"){

                <div class="reg-wrap">
                                <div class="reg-form">
                                        <div class="headerform">
                                            <h2 class="text-center purpletext"><span class = "joined-font">Peecy Wurld</span></h2>
                                        </div>

                                            <div class="row">
                                                <div class="reg">
                                                    <h6>Regestration Form</h6>
                                                    <p>To avail of our great offers you will need to register and create an account please fill in all feilds for you registration to be complete
                                                        we have automatic email sent to you if you wish to recive them, updates on new products and special offers and much more if you wish to contact us before registering feel free to email us our contact information is prvided on the bottem of the page></p>
                                                </div>
                                                <input type="file" accept="image/*" onchange="loadFile(event)" name = "profilePic">
                                                <img id="output" class = "img-responsive">
                                                <script>
                                                        var loadFile = function(event) {
                                                            var output = document.getElementById('output');
                                                            output.src = URL.createObjectURL(event.target.files[0]);
                                                        };
                                                </script>

                                                <div class="col-md-6" style="background-color:white;">

                                                    <p><b>Email</b></p>
                                                    @text(addUserForm("email"), 'class -> "form-control", 'placeholder -> "Email")
                                                    <p><b>First Name</b></p>
                                                    @text(addUserForm("firstName"), 'class -> "form-control", 'placeholder -> "First Name")
                                                    <p><b>Last Name</b></p>
                                                    @text(addUserForm("lastName"), 'class -> "form-control", 'placeholder -> "Last Name")
                                                    <p><b>Address</b></p>
                                                    @text(addUserForm("address"), 'class -> "form-control", 'placeholder -> "Address")

                                                    <input type="submit" class="form-control pull-right" id="add-product-submit" value="Submit" style="width: 30%; margin-bottom: 2em;">
                                                </div>

                                                <div class="col-md-6" style="background-color:white;">
                                                    <p><b>Password</b></p>
                                                    @password(addUserForm("password"), 'class -> "form-control", 'placeholder -> "First Name")
                                                    <p><b>Phone</b></p>
                                                    @text(addUserForm("phone"), 'class -> "form-control", 'placeholder -> "Phone")
                                                    <p><b>Mobile</b></p>
                                                    @text(addUserForm("mobile"), 'class -> "form-control", 'placeholder -> "Mobile")
                                                    <p><b>Age</b></p>
                                                    @number(addUserForm("age"),'type -> "number", 'class -> "form-control", 'placeholder -> "Age", 'min -> "1", 'step -> "1", 'max -> "9999", 'value -> "0")
                                                </div>
                                            </div>
                                        </div>
                </div>
            }
                                    </div>
                                </div>
                            </div>

    <script>
            $(document).ready(function() {
                $("label").remove();
            });
    </script>

}