@import helper._
@import html5.tags.html._
@(addUserForm: Form[models.User],user: models.User)
@main("Register",user) {

    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 col-lg-offset-4 col-md-offset-4 col-sm-offset-3">

                <h2 class="text-center purpletext">Register For <span class = "joined-font">Peecy Wurld</span></h2>
    @helper.form(action = routes.HomeController.registerSubmit() ,'enctype -> "multipart/form-data", 'method -> "POST"){
        <p><b>Email</b></p>
        @email(addUserForm("email"), 'class -> "form-control", 'placeholder -> "Email")
        <p><b>First Name</b></p>
        @text(addUserForm("firstName"), 'class -> "form-control", 'placeholder -> "First Name")
        <p><b>Last Name</b></p>
        @text(addUserForm("lastName"), 'class -> "form-control", 'placeholder -> "Last Name")
        <p><b>Password</b></p>
        @password(addUserForm("password"), 'class -> "form-control", 'placeholder -> "First Name")
        <p><b>Address</b></p>
        @text(addUserForm("address"), 'class -> "form-control", 'placeholder -> "Address")
        <p><b>Age</b></p>
        @number(addUserForm("age"),'type -> "number", 'class -> "form-control", 'min -> "1", 'step -> "1", 'max -> "9999", 'value -> "0")
        <p><b>Profile Image</b></p>
        <input type="file" accept="image/*" onchange="loadFile(event)" name = "profilePic">
        <img id="output" class = "img-responsive">
        <script>
                    var loadFile = function(event) {
                    var output = document.getElementById('output');
                    output.src = URL.createObjectURL(event.target.files[0]);
                };
        </script>
        <p><b>Phone</b></p>
        @text(addUserForm("phone"), 'class -> "form-control", 'placeholder -> "Phone")
        <p><b>Mobile</b></p>
        @text(addUserForm("mobile"), 'class -> "form-control", 'placeholder -> "Mobile")
        <input type="submit" class="form-control pull-right" id="add-product-submit" value="Submit" style="width: 30%; margin-bottom: 2em;">
    }
            </div>
        </div>
    </div>



}