@import helper._
@import html5.tags.html._
@(products:List[models.Product],user: models.User,env: play.api.Environment)
@main("Search",user){
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-3 col-xs-12 col-md-3" id="product-filter-bounds">
            <h2 class="text-center whitetext">Filter Results</h2>
            <form action = "@routes.HomeController.filterProduct()" method="get">
                <div class="form-group">

                        <p class="whitetext">Brand</p>

                    <input type="text" name="productName" class="form-control">
                </div>
                <div class="form-group">

                        <p class="whitetext">Minimum Price</p>

                    <input type="number" min="1.00" step="1" max="9999" value="00.00" name="min" class="form-control">
                </div>
                <div class="form-group">

                        <p class="whitetext">Maximum Price</p>
                  
                    <input type="number" min="1.00" step="1" max="9999" value="00.00" name="max" class="form-control">
                </div>
                <input type="submit" value="Filter" id="product-submit" class="pull-right">
            </form>
            <!--end of form-->
        </div>
        <!--End of col-->
        <div class="col-lg-9 col-sm-9 col-xs-12 col-md-9" id="product-search-bounds">
            <div class="container-fluid">
                <div class="row">
                    @if(flash.containsKey("noproducts")){
                        <br>
                        <div class = "alert alert-danger">
                            <h3 class = "text-center">@flash.get("noproducts") <i class="fa fa-frown-o" aria-hidden="true"></i>
                            </h3>
                        </div>
                    }
                        <!--Play will echo recults here-->
                    @if(!products.isEmpty){
                    @for(p<-products) {
                        <a href="@routes.HomeController.product(p.getProductId)">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="product-search-results">
                                <div class="container-fluid">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                                        @if(env.resource("public/images/productImages/thumbnails/" + p.getProductId + ".jpg").isDefined){
                                            <img class="img-responsive" src="/assets/images/productImages/thumbnails/@(p.getProductId + ".jpg")">
                                        }else{
                                            <img class="img-responsive" src="/assets/images/productImages/noImage.jpg">
                                        }
                                        </div>
                                            <!--End of col-->
                                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                            <h3 class="text-center">@p.getName</h3>
                                            <h4 class="text-center purpletext">Delivery Available</h4>
                                            <h4 class="text-center">@p.getQuantity</h4>
                                            <p class="text-center text-muted">@p.getDescription</p>
                                            <p class="text-center">Category: <span class = "text-muted">@p.getCategory</span></p>
                                        </div>
                                            <!--End of col-->
                                        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                                            <h2 class="text-center" id="productprice"><span class="purpletext">€</span> @p.getPrice</h2>
                                            @if(user != null) {
                                                <a href = "@routes.ShoppingController.addToBasket(p.getProductId)">
                                                    <button type="button" id="addtocartbutton">
                                                        Add To Cart <i class="fa fa-shopping-basket" aria-hidden="true"></i></button>
                                                </a>
                                            }
                    </div>
            </div>
                <!--End of row-->
        </div>
            <!--End of container-->
    </div>
    </a>
        <!--End of col /product searchresults/Play Echo-->
    }
    }

                </div>
                <!--End of row-->
            </div>
            <!--End of container-->
        </div>
        <!--End of col/product search bounds-->
    </div>
    <!--End of row-->
</div>
<!--End of container-->

}
