@import helper._
@import html5.tags.html._
@(user: models.User)
@main("Wishlist",user){



    <div class="container"> <!--Have fluid before-->

        <div class="row">

            <div class ="col-lg-12 col-sm-12 col-xs-12 col-md-12" id = "wishlist-details">

                <h1 class="text-muted">My WishList</h1>

                <div class="container-fluid"> <!--id="border-temp"-->

                    <div class="row">


                        <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                            <h2 class="text-center">Details</h2>
                        </div><!--End of col-->

                        <div class="col-lg- 3col-md-3 col-sm-3 col-xs-3">
                            <h2 class = "text-center">Action</h2>
                        </div><!--End of col-->

                    </div><!--End of row one-->

                    <div class="row" id="test-line">

                    @if(user.getWishlist() != null) {
                        @for(i <- user.getWishlist.getWishItems()) {



                            <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                <div class="row">

                                    <div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">
                                        <img class="img-responsive" src="/assets/images/productImages/thumbnails/@(i.getProduct().productId + ".jpg")">
                                    </div>

                                    <div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">
                                        <h4>@i.getProduct().getName()</h4>
                                        <h5></h5>
                                        <p class = "text-muted">"@i.getProduct().getDescription()"</p>
                                    </div>

                                </div> <!-- End inner col row-->

                            </div> <!--End of col-->

                            <div class="col-lg- 3col-md-3 col-sm-3 col-xs-3" id="action-cols">

                                <div class="row">

                                    <div class="col-lg-6 col-md-6 col-sm-6 col xs-6" id ="add-to-cart">

                                        <h5 class="text-muted text-center">Add to Cart</h5>
                                        <a href="@routes.ShoppingController.addToBasket(i.getProduct().getProductId)"
                                        class="btn btn-primary" aria-label="add to cart">
                                            <i class="fa fa-shopping-cart" aria-hidden="true">
                                                </i>
                                        </a>

                                    </div>
                                        <!-- End inner col 1 row 2-->

                                    <div class="col-lg-6 col-md-6 col-sm-6 col xs-6" id="del-from-wishlist">

                                        <h5 class="text-muted text-center">Delete</h5>
                                        @if(i.getProduct().getQuantity >= 0 ) { <!--getProduct().getProductId()-->
                                            <a href="@routes.WishlistCtrl.delWishlist(i.getId)"
                                            class="btn btn-danger" aria-label="Delete">
                                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                                            </a>
                                        }

                                    </div>
                                        <!-- End inner col 2 row 2-->

                                </div>
                                    <!--End inner row-->

                            </div>
                                <!--End of col-->
                        }
                    }
                    </div>
                        <!-- End row two-->

                    <a href = "@routes.HomeController.searchProduct("")">
                        <button type="button" class="btn btn-default">
                            <span class="glyphicon glyphicon-shopping-cart"></span> Continue Shopping
                        </button></a>

                    @if(user.getWishlist() != null) {
                        <a href = "@routes.WishlistCtrl.emptyWishlist()">
                            <button type="button" class="btn btn-danger">
                                <i class="fa fa-trash" aria-hidden="true"></i>
                                Empty Wishlist
                            </button></a>
                    }

                </div><!--End of Inner-container-->

            </div><!--End of wishlist-details div(outer col)-->

        </div><!--End of complete wishlist table row-->

    </div><!--End of container-->


}